@media (min-width: 200px) and (max-width: 640px) {
  .mobFlexCol {
    display: flex;
    flex-direction: column;
  }

  .mtforMob {
    position: absolute;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  #deskview {
    margin-top: 330px;
  }
}
